<%- include('partials/header'); -%>
<br>
<h1>Contact</h1>
<p> <%= contactContent %> </p>
<form action="#" method="post">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Your Email</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Message</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>

<%- include('partials/footer'); -%>
